@model ARMSYSTEM.Models.BasesProject

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>BasesProject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idProject" class="control-label"></label>
                <input asp-for="idProject" class="form-control" />
                <span asp-validation-for="idProject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idParrentBase" class="control-label"></label>
                <input asp-for="idParrentBase" class="form-control" />
                <span asp-validation-for="idParrentBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="filters" class="control-label"></label>
                <input asp-for="filters" class="form-control" />
                <span asp-validation-for="filters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateCreate" class="control-label"></label>
                <input asp-for="dateCreate" class="form-control" />
                <span asp-validation-for="dateCreate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

