<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Kendo Mvc 2017.2.621" value="C:\Program Files (x86)\Telerik\UI for ASP.NET Core R2 2017\wrappers\aspnetcore\Binaries\AspNet.Core" />
    <add key="Kendo Mvc 2017.3.913" value="C:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core R3 2017\wrappers\aspnetcore\Binaries\AspNet.Core" />
  </packageSources>
</configuration>